<?xml version="1.0" encoding="utf-8"?>
<feature>
  <revhistory>
    
              <revision  xml:id="s.revhistory.System.20190814.ProfileQ">
      <revnumber>19.12</revnumber>
      <date>Aug 14, 2019</date>
      <revdescription>
        <para>The following was done according to #341:</para>
        <para>System section and System Test Cases section was moved from ONVIF Core Client Test Specification to ONVIF Profile Q Client Test Specifications.</para>
      </revdescription>
    </revision>
            <revision  xml:id="s.revhistory.System.20190814.ProfileG">
      <revnumber>19.12</revnumber>
      <date>Aug 14, 2019</date>
      <revdescription>
        <para>The following was done according to #341:</para>
        <para>System section and System Test Cases section was moved from ONVIF Core Client Test Specification to ONVIF Profile G Client Test Specifications.</para>
      </revdescription>
    </revision>
          <revision  xml:id="s.revhistory.System.20190814.ProfileC">
      <revnumber>19.12</revnumber>
      <date>Aug 14, 2019</date>
      <revdescription>
        <para>The following was done according to #341:</para>
        <para>System section and System Test Cases section was moved from ONVIF Core Client Test Specification to ONVIF Profile C Client Test Specifications.</para>
      </revdescription>
    </revision>
        <revision  xml:id="s.revhistory.System.20190814.ProfileA">
      <revnumber>19.12</revnumber>
      <date>Aug 14, 2019</date>
      <revdescription>
        <para>The following was done according to #341:</para>
        <para>System section and System Test Cases section was moved from ONVIF Core Client Test Specification to ONVIF Profile A Client Test Specifications.</para>
      </revdescription>
    </revision>
      <revision  xml:id="s.revhistory.System.20190813.ProfileT">
      <revnumber>19.12</revnumber>
      <date>Aug 13, 2019</date>
      <revdescription>
        <para>The following was done according to #341:</para>
        <para>System section and System Test Cases section was moved from ONVIF Core Client Test Specification to ONVIF Profile T Client Test Specifications.</para>
      </revdescription>
    </revision>
    <revision  xml:id="s.revhistory.System.20190812.ProfileS">
      <revnumber>19.12</revnumber>
      <date>Aug 12, 2019</date>
      <revdescription>
        <para>The following was done according to #341:</para>
        <para>System section and System Test Cases section was moved from ONVIF Core Client Test Specification to ONVIF Profile S Client Test Specifications.</para>
      </revdescription>
    </revision>
  </revhistory>
  <section xml:id="s.intro.System">
      <title>System</title>
      <para>
        System section defines Client ability to obtain Device information and configure
        of system settings on Device.
      </para>
  </section>
      <section xml:id="tc.System">
    <title>System Test Cases</title>
    <section xml:id="tc.System.feature">
      <title>Feature Level Requirement:</title>
      <para>
        <emphasis role="bold">Validated Feature:</emphasis> System (System)
      </para>
      <para>
        <emphasis role="bold" annotations="All">Check Condition based on Device Features:</emphasis> None
      </para>
      <para>
        <emphasis role="bold">Required Number of Devices:</emphasis> 3
      </para>
      <para>
        <emphasis role="bold">Profile A Requirement:</emphasis> Conditional
      </para>
      <para>
        <emphasis role="bold">Profile C Requirement:</emphasis> Conditional
      </para>    
      
      <para>
        <emphasis role="bold">Profile G Requirement:</emphasis> Conditional
      </para>
      <para>
        <emphasis role="bold">Profile S Requirement:</emphasis> Conditional
      </para>
       
      <para>
        <emphasis role="bold" annotations="7.5 System">Profile T Requirement:</emphasis> Conditional
      </para>
       <para>
        <emphasis role="bold" annotations="7.5 System">Profile D Requirement:</emphasis> Conditional
      </para>
       <para>
        <emphasis role="bold" annotations="7.5 System">Profile M Requirement:</emphasis> Conditional
      </para>
    </section>
    <section xml:id="tc.System.scenario">
      <title>Expected Scenarios Under Test:</title>
      <para>
        <orderedlist>
          <listitem>
            <para>
              Client connects to Device to get information, such as manufacturer,
              model, firmware version and etc.
            </para>
          </listitem>
          <listitem>
            <para>
              Client is considered as supporting System if the following conditions
              are met:<itemizedlist>
                <listitem>
                  <para>
                    Client is able to list Device information using the
                    GetDeviceInformation operation.
                  </para>
                </listitem>
              </itemizedlist>
            </para>
          </listitem>
          <listitem>
            <para>
              Client is considered as NOT supporting System if ANY of the following
              is TRUE:<itemizedlist>
                <listitem>
                  <para>
                    No Valid Device Response to GetDeviceInformation
                    request.
                  </para>
                </listitem>
              </itemizedlist>
            </para>
          </listitem>
        </orderedlist>
      </para>
    </section>
    <section xml:id="tc.System.SYSTEM-1">
      <title>GET DEVICE INFORMATION</title>
      <para>
        <emphasis role="bold">Test Label:</emphasis> System - Get Device Information
      </para>
      <para>
        <emphasis role="bold">Test Case ID:</emphasis> SYSTEM-1
      </para>
      <para>
        <emphasis role="bold">Feature Under Test:</emphasis> Get Device Information (System_GetDeviceInformation)
      </para>

      <para>
        <emphasis role="bold">Test Purpose:</emphasis> To verify that Client is able to
        list Device information using the GetDeviceInformation operation.
      </para>
      <para>
        <emphasis role="bold">Pre-Requisite:</emphasis>
        <itemizedlist>
          <listitem>
            <para>
              The Network Trace Capture files contains at least one Conversation between
              Client and Device with GetDeviceInformation operation present.
            </para>
          </listitem>
        </itemizedlist>
      </para>
      <para>
        <emphasis role="bold">
          Test Procedure (expected to be reflected in network trace
          file):
        </emphasis>
        <orderedlist>
          <listitem>
            <para>
              Client invokes GetDeviceInformation request message to list Device
              information.
            </para>
          </listitem>
          <listitem>
            <para>
              Device responds with code HTTP 200 OK and
              GetDeviceInformationResponse message.
            </para>
          </listitem>
        </orderedlist>
      </para>
      <para>
        <emphasis role="bold">Test Result:</emphasis>
      </para>
      <para>
        <emphasis role="bold">PASS -</emphasis>
        <itemizedlist>
          <listitem>
            <para>
              Client <emphasis role="bold">GetDeviceInformation</emphasis> request messages are valid according to XML Schemas listed in <link linkend="additions.namespaces">Namespaces</link> AND
            </para>
          </listitem>
          <listitem>
            <para>
              Client <emphasis role="bold">GetDeviceInformation</emphasis> request in Test Procedure fulfills the following requirements:
              <itemizedlist>
                <listitem>
                  <para xml:id="tc.System.SYSTEM-1.0">
                    [S1] Client request contains "&lt;GetDeviceInformation&gt;" tag after the "&lt;Body&gt;" tag  AND
                  </para>
                </listitem>
                <listitem>
                  <para xml:id="tc.System.SYSTEM-1.1">
                    [S2] Device response contains "HTTP/* 200 OK" AND
                  </para>
                </listitem>
                <listitem>
                  <para xml:id="tc.System.SYSTEM-1.2">
                    [S3] Device response contains "&lt;GetDeviceInformationResponse&gt;" tag.
                  </para>
                </listitem>
              </itemizedlist>
            </para>
          </listitem>
        </itemizedlist>
      </para>
      <para>
        <emphasis role="bold">FAIL -</emphasis>
        <itemizedlist>
          <listitem>
            <para>
              The Client failed PASS criteria.
            </para>
          </listitem>
        </itemizedlist>
      </para>

    </section>
  </section>
</feature>